CREATE DATABASE QL_CUAHANGNOITHAT
USE [QL_CUAHANGNOITHAT]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [varchar](50) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [decimal](18, 0) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_KHUYENMAI]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[GIAKM] [decimal](18, 0) NULL,
	[SOLUONGKM] [int] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_CT_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MAPHIEUNHAP] [varchar](50) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONGNHAP] [int] NULL,
	[DONGIANHAP] [decimal](18, 0) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](50) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[THANHTIEN] [money] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[PHANTRAMKM] [float] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETHUC] [date] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICH]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICH](
	[MACH] [varchar](10) NOT NULL,
	[TENCH] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_LOAICH] PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[TRANGTHAI] [int] NULL,
	[MACH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[TRANGTHAI] [int] NULL,
	[MACH] [varchar](10) NULL,
	[MALOAI] [varchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[TENTAIKHOAN] [varchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[HINHANH] [varchar](200) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [varchar](50) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[KICHTHUOC] [varchar](50) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[CHATLIEU] [nvarchar](100) NULL,
	[HINHANH] [varchar](200) NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [decimal](18, 0) NULL,
	[GIABANSI] [decimal](18, 0) NULL,
	[TRANGTHAI] [int] NULL,
	[MANCC] [varchar](10) NOT NULL,
	[MALOAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [GIABAN], [TRANGTHAI]) VALUES (N'HD0001', N'SP001', 2, CAST(3400000 AS Decimal(18, 0)), 0)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [GIABAN], [TRANGTHAI]) VALUES (N'HD0001', N'SP002', 3, CAST(11000000 AS Decimal(18, 0)), 0)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [GIABAN], [TRANGTHAI]) VALUES (N'HD0002', N'SP002', 2, CAST(25000000 AS Decimal(18, 0)), 0)
GO
INSERT [dbo].[CT_KHUYENMAI] ([MAKM], [MASP], [GIAKM], [SOLUONGKM], [TRANGTHAI]) VALUES (N'KM001', N'SP001', CAST(500000 AS Decimal(18, 0)), 15000, 0)
INSERT [dbo].[CT_KHUYENMAI] ([MAKM], [MASP], [GIAKM], [SOLUONGKM], [TRANGTHAI]) VALUES (N'KM001', N'SP002', CAST(500000 AS Decimal(18, 0)), 19000, 0)
INSERT [dbo].[CT_KHUYENMAI] ([MAKM], [MASP], [GIAKM], [SOLUONGKM], [TRANGTHAI]) VALUES (N'KM001', N'SP003', CAST(600000 AS Decimal(18, 0)), 17000, 0)
GO
INSERT [dbo].[CT_PHIEUNHAP] ([MAPHIEUNHAP], [MASP], [SOLUONGNHAP], [DONGIANHAP], [TRANGTHAI]) VALUES (N'PN0001', N'SP001', 3, CAST(2000000 AS Decimal(18, 0)), 0)
INSERT [dbo].[CT_PHIEUNHAP] ([MAPHIEUNHAP], [MASP], [SOLUONGNHAP], [DONGIANHAP], [TRANGTHAI]) VALUES (N'PN0002', N'SP003', 7, CAST(9000000 AS Decimal(18, 0)), 0)
INSERT [dbo].[CT_PHIEUNHAP] ([MAPHIEUNHAP], [MASP], [SOLUONGNHAP], [DONGIANHAP], [TRANGTHAI]) VALUES (N'PN0003', N'SP003', 2, CAST(8000000 AS Decimal(18, 0)), 0)
GO
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYLAP], [THANHTIEN], [TRANGTHAI]) VALUES (N'HD0001', N'NV001', N'KH001', CAST(N'2023-12-06T00:00:00.000' AS DateTime), 18000.0000, 0)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYLAP], [THANHTIEN], [TRANGTHAI]) VALUES (N'HD0002', N'NV002', N'KH001', CAST(N'2023-12-07T00:00:00.000' AS DateTime), 2000000.0000, 0)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYLAP], [THANHTIEN], [TRANGTHAI]) VALUES (N'HD0003', N'NV002', N'KH002', CAST(N'2023-06-02T00:00:00.000' AS DateTime), 11000000.0000, 0)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL]) VALUES (N'KH001', N'Nguyễn Minh Anh', N'HCM', N'0326081303', N'minhanh@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL]) VALUES (N'KH002', N'Trần Minh Hòa', N'Tiền Giang', N'0977569713', N'minhhoa@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL]) VALUES (N'KH003', N'Nguyễn Thị Tố Nghi', N'Vũng Tàu', N'0862569722', N'tonghi@gmail.com')
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [PHANTRAMKM], [NGAYBATDAU], [NGAYKETHUC], [TRANGTHAI]) VALUES (N'KM001', N'Khuyến mãi giảm giá 5%', 5, CAST(N'2024-05-31' AS Date), CAST(N'2024-07-31' AS Date), 0)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [PHANTRAMKM], [NGAYBATDAU], [NGAYKETHUC], [TRANGTHAI]) VALUES (N'KM002', N'Khuyến mãi giảm giá 10%', 10, CAST(N'2024-05-31' AS Date), CAST(N'2024-06-22' AS Date), 0)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [PHANTRAMKM], [NGAYBATDAU], [NGAYKETHUC], [TRANGTHAI]) VALUES (N'KM003', N'Khuyến mãi giảm giá 10%', 10, CAST(N'2024-05-18' AS Date), CAST(N'2024-07-28' AS Date), 0)
GO
INSERT [dbo].[LOAICH] ([MACH], [TENCH], [GHICHU], [TRANGTHAI]) VALUES (N'HL', N'Hoàng Lan', N'', 0)
INSERT [dbo].[LOAICH] ([MACH], [TENCH], [GHICHU], [TRANGTHAI]) VALUES (N'KD', N'Kim Đan', N'', 0)
INSERT [dbo].[LOAICH] ([MACH], [TENCH], [GHICHU], [TRANGTHAI]) VALUES (N'MD', N'Minh Đạt', N'', 0)
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TRANGTHAI], [MACH]) VALUES (N'L01', N'Tủ', 0, N'XT')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TRANGTHAI], [MACH]) VALUES (N'L02', N'Ghế', 0, N'KD')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TRANGTHAI], [MACH]) VALUES (N'L03', N'Bàn', 0, N'MT')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [TRANGTHAI], [MACH], [MALOAI]) VALUES (N'HL01', N'Tùng Dương', N'HCM', N'0833769722', N'tunduong@gmail.com', 0, N'HL', N'L01')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [TRANGTHAI], [MACH], [MALOAI]) VALUES (N'KD04', N'Hoang Tam', N'Cam Long', N'0987632487', N'dsa@gmail.com', 1, N'KD', N'L03')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [TRANGTHAI], [MACH], [MALOAI]) VALUES (N'KT03', N'Xuân Hòa', N'HCM', N'0836669356', N'xuanhoa@gmail.com', 0, N'KD', N'L03')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENTAIKHOAN], [CHUCVU], [SDT], [EMAIL], [MATKHAU], [HINHANH], [TRANGTHAI]) VALUES (N'NV001', N'Nguyễn Minh Châu', N'minhchaubh', N'Bán hàng', N'0994569787', N'minhchau@gmail.com', N'chaubh01', N'src\images.nhanvien\Hinh1.png', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENTAIKHOAN], [CHUCVU], [SDT], [EMAIL], [MATKHAU], [HINHANH], [TRANGTHAI]) VALUES (N'NV002', N'Hoàng Văn Chiến', N'vanchienbh', N'Bán hàng', N'0894569225', N'vanchien@gmail.com', N'chienbh02', N'src\images.nhanvien\Hinh2.png', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENTAIKHOAN], [CHUCVU], [SDT], [EMAIL], [MATKHAU], [HINHANH], [TRANGTHAI]) VALUES (N'NV003', N'Trần Thị Ngọc Minh', N'ngocminhbh', N'Bán hàng', N'0874569547', N'ngocminh@gmail.com', N'minhbh03', N'src\images.nhanvien\Hinh4.png', 0)
GO
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANV], [MANCC], [NGAYNHAP], [TRANGTHAI]) VALUES (N'PN0001', N'NV001', N'HL01', CAST(N'2023-05-15' AS Date), 0)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANV], [MANCC], [NGAYNHAP], [TRANGTHAI]) VALUES (N'PN0002', N'NV002', N'XT02', CAST(N'2024-04-24' AS Date), 0)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANV], [MANCC], [NGAYNHAP], [TRANGTHAI]) VALUES (N'PN0003', N'NV003', N'KT03', CAST(N'2023-01-01' AS Date), 0)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [KICHTHUOC], [MAUSAC], [CHATLIEU], [HINHANH], [SOLUONG], [GIABAN], [GIABANSI], [TRANGTHAI], [MANCC], [MALOAI]) VALUES (N'SP001', N'Ghế Barcelona BCL 300', N'54cmx62cmx42cm', N'Đen', N'Ghế khung thép không gỉ, dây da cao cấp, đệm mút đàn hồi bọc da', N'src\images.sanpham\Hinh1.jpg', 30, CAST(3400000 AS Decimal(18, 0)), CAST(3000000 AS Decimal(18, 0)), 0, N'HL01', N'L01')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [KICHTHUOC], [MAUSAC], [CHATLIEU], [HINHANH], [SOLUONG], [GIABAN], [GIABANSI], [TRANGTHAI], [MANCC], [MALOAI]) VALUES (N'SP002', N'Ghế đôn thời trang B105', N'66cmx69cmx40cm', N'Cam', N'Đệm mút đàn hổi cao cấp', N'src\images.sanpham\Hinh2.jpg', 10, CAST(11000000 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)), 0, N'XT02', N'L03')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [KICHTHUOC], [MAUSAC], [CHATLIEU], [HINHANH], [SOLUONG], [GIABAN], [GIABANSI], [TRANGTHAI], [MANCC], [MALOAI]) VALUES (N'SP003', N'Ghế Thời trang B241-1', N'67cmx65cmx47cm', N'Vàng', N'Bông định hình, khung sắt, vải', N'src\images.sanpham\Hinh3.jpg', 20, CAST(17000000 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)), 0, N'KT03', N'L02')
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[LOAISP]  WITH CHECK ADD  CONSTRAINT [FK_LOAISP_LOAICH] FOREIGN KEY([MACH])
REFERENCES [dbo].[LOAICH] ([MACH])
GO
ALTER TABLE [dbo].[LOAISP] CHECK CONSTRAINT [FK_LOAISP_LOAICH]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_LOAICH] FOREIGN KEY([MACH])
REFERENCES [dbo].[LOAICH] ([MACH])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGCAP_LOAICH]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGCAP_LOAISP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
/****** Object:  StoredProcedure [dbo].[DanhSachKHTheo_SDT]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DanhSachKHTheo_SDT] (@sdt nvarchar(max))
AS 
	SELECT * FROM KHACHHANG WHERE SDT=@sdt
GO
/****** Object:  StoredProcedure [dbo].[DanhsachLoaiSP_TheoCuaHang]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DanhsachLoaiSP_TheoCuaHang](@mach nvarchar(15))
AS
  SELECT * FROM LOAISP where mach =@mach and TRANGTHAI = 0 
GO
/****** Object:  StoredProcedure [dbo].[DanhSachLoaiSPTheo_cuahang]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DanhSachLoaiSPTheo_cuahang] (@mach nvarchar(15))
AS 
	SELECT * FROM LOAISP WHERE MACH=@mach and TRANGTHAI = 0 
GO
/****** Object:  StoredProcedure [dbo].[DanhSachNCCTheo_SDT]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DanhSachNCCTheo_SDT] (@sdt nvarchar(max))
AS 
	SELECT * FROM NHACUNGCAP WHERE SDT=@sdt
GO
/****** Object:  StoredProcedure [dbo].[delete_DanhMuc]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_DanhMuc](@maloai varchar(10))
as 
	UPDATE LOAISP
	SET TRANGTHAI = 1  
	WHERE maloai = @maloai
GO
/****** Object:  StoredProcedure [dbo].[delete_HoaDon]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedure xóa hóa đơn
CREATE PROCEDURE [dbo].[delete_HoaDon]
    @maHD VARCHAR(50)
AS
BEGIN
    UPDATE CT_HOADON
    SET TRANGTHAI = 1
    WHERE MAHD = @maHD;

    UPDATE HOADON
    SET TRANGTHAI = 1
    WHERE MAHD = @maHD;
END;
GO
/****** Object:  StoredProcedure [dbo].[delete_KhuyenMai]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_KhuyenMai]
    @maKM VARCHAR(10)
AS
BEGIN

	UPDATE CT_KHUYENMAI
	SET TRANGTHAI = 1
	WHERE MAKM = @maKM;

    UPDATE KHUYENMAI
    SET TRANGTHAI = 1
    WHERE MAKM = @maKM;

   
END;
GO
/****** Object:  StoredProcedure [dbo].[delete_NHACUNGCAP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_NHACUNGCAP](@maNCC varchar(10))
as 
	UPDATE NHACUNGCAP
	SET TRANGTHAI = 1  
	WHERE MANCC = @maNCC
GO
/****** Object:  StoredProcedure [dbo].[delete_nhanvien]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_nhanvien](@maNV varchar(10))
as 
	UPDATE NHANVIEN
	SET TRANGTHAI = 1  
	WHERE MANV = @maNV
GO
/****** Object:  StoredProcedure [dbo].[delete_SanPham]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_SanPham] (@maSP VARCHAR(10))
AS
BEGIN
    UPDATE SANPHAM
    SET TRANGTHAI = 1
    WHERE MASP = @maSP;
END;
GO
/****** Object:  StoredProcedure [dbo].[HOADONLONHAT]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADONLONHAT] AS
BEGIN
	IF ((SELECT COUNT(*) FROM HOADON) = 0)
		SELECT  'HD0001' MAHD
	ELSE
		SELECT TOP 1 MAHD FROM HOADON ORDER BY MAHD DESC
END
GO
/****** Object:  StoredProcedure [dbo].[insert_CTHoaDon]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_CTHoaDon]
	@maHD VARCHAR(50),
	@maSP VARCHAR(10),  
    @soLuong INT,
    @giaBan DECIMAL(18, 0)

AS
BEGIN
    INSERT INTO CT_HOADON (MAHD, MASP, SOLUONG, GIABAN,TRANGTHAI)
	VALUES (@maHD, @maSP, @soLuong, @giaBan,0);
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_CTPhieuNhap]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_CTPhieuNhap]
	@maphieunhap VARCHAR(50),
	@maSP VARCHAR(10),  
    @soLuong INT,
    @giaBan DECIMAL(18, 0)

AS
BEGIN
    INSERT INTO CT_PHIEUNHAP(MAPHIEUNHAP, MASP, SOLUONGNHAP, DONGIANHAP,TRANGTHAI)
	VALUES (@maphieunhap, @maSP, @soLuong, @giaBan,0);
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_HoaDon]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_HoaDon]
    @maHD VARCHAR(50),
    @maNV VARCHAR(10),
    @maKH VARCHAR(10),
    @ngayLap DATETIME,
	@thanhtien MONEY	
AS
BEGIN
    INSERT INTO HOADON (MAHD, MANV, MAKH, NGAYLAP, THANHTIEN ,TRANGTHAI)
    VALUES (@maHD, @maNV, @maKH, @ngayLap,@thanhtien,0);
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_KhachHang]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_KhachHang](@maKH varchar(10),@tenKH nvarchar(50),@diachi nvarchar(50), @sdt nvarchar(50),@email nvarchar(50))
as 
	INSERT INTO KHACHHANG VALUES (@maKH, @tenKH, @diachi,@sdt,@email)
GO
/****** Object:  StoredProcedure [dbo].[insert_KhuyenMai]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_KhuyenMai]
    @maKM VARCHAR(10),
    @tenKM NVARCHAR(50),
    @ptkhuyenmai FLOAT,
    @ngayBD DATE,
    @ngayKT DATE,
    @maSP VARCHAR(10),
    @giaKM DECIMAL(18, 0),
    @soLuongKM INT
AS
BEGIN
    INSERT INTO KHUYENMAI (MAKM, TENKM, PHANTRAMKM, NGAYBATDAU, NGAYKETHUC,TRANGTHAI)
    VALUES (@maKM, @tenKM, @ptkhuyenmai, @ngayBD, @ngayKT,0);

    INSERT INTO CT_KHUYENMAI (MAKM, MASP, GIAKM, SOLUONGKM,TRANGTHAI)
    VALUES (@maKM, @maSP, @giaKM, @soLuongKM, 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_loaisp]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_loaisp](@maloai varchar(10),@tenloai nvarchar(50),@mach varchar(10))
as 
	INSERT INTO LOAISP VALUES (@maloai, @tenloai,0,@mach)
GO
/****** Object:  StoredProcedure [dbo].[insert_NHACUNGCAP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_NHACUNGCAP](@maNCC varchar(10),@tenNCC nvarchar(50),@diachi nvarchar(50), @sdt nvarchar(50),@email nvarchar(50),@mach varchar(10), @maloai varchar(10))
as 
	INSERT INTO NHACUNGCAP VALUES (@maNCC, @tenNCC, @diachi,@sdt,@email,0,@mach,@maloai)
GO
/****** Object:  StoredProcedure [dbo].[insert_NhanVien]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_NhanVien] (
    @MaNV NVARCHAR(MAX),
    @TenNV NVARCHAR(MAX),
    @TenTK NVARCHAR(MAX),
    @ChucVu NVARCHAR(MAX),
    @SDT NVARCHAR(MAX),
    @Email NVARCHAR(MAX),
    @MatKhau NVARCHAR(MAX),
    @HinhAnh NVARCHAR(MAX) -- Tham số mới cho đường dẫn ảnh
) AS
BEGIN
    -- Thân stored procedure
    INSERT INTO NHANVIEN(MaNV, TenNV, TENTAIKHOAN, ChucVu, SDT, Email, MatKhau, HinhAnh,TrangThai)
    VALUES (@MaNV, @TenNV, @TenTK, @ChucVu, @SDT, @Email, @MatKhau, @HinhAnh,0);
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_PhieuNhap]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_PhieuNhap]
    @maphieunhap VARCHAR(50),
    @maNV VARCHAR(10),
    @maNCC VARCHAR(10),
    @ngayNHAP DATETIME
AS
BEGIN
    INSERT INTO PHIEUNHAP(MAPHIEUNHAP, MANV, MANCC, NGAYNHAP,TRANGTHAI)
    VALUES (@maphieunhap, @maNV, @maNCC, @ngayNHAP,0);
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_SanPham]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_SanPham]
    @maSP VARCHAR(10),
    @tenSP NVARCHAR(50),
    @kichThuoc VARCHAR(50),
    @mauSac NVARCHAR(50),
    @chatLieu NVARCHAR(100),
    @hinhAnh VARCHAR(200),
	@soluong INT,
    @giaBan DECIMAL(18, 0),
    @giaBanSi DECIMAL(18, 0),
    @mancc VARCHAR(10),
    @maloai VARCHAR(10)
AS
BEGIN
    INSERT INTO SANPHAM (MASP, TENSP, KICHTHUOC, MAUSAC, CHATLIEU, HINHANH, SOLUONG, GIABAN, GIABANSI, TRANGTHAI, MANCC,MALOAI)
    VALUES (@maSP, @tenSP, @kichThuoc, @mauSac, @chatLieu, @hinhAnh,@soluong,  @giaBan, @giaBanSi, 0, @mancc, @maloai);
END;
GO
/****** Object:  StoredProcedure [dbo].[layGiaBan]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[layGiaBan] (@masp nvarchar(10))
AS
  SELECT GIABAN FROM SANPHAM WHERE MASP = @masp;
GO
/****** Object:  StoredProcedure [dbo].[layGiaBanSi]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[layGiaBanSi] (@masp nvarchar(10))
AS
  SELECT GIABANSI FROM SANPHAM WHERE MASP = @masp;
GO
/****** Object:  StoredProcedure [dbo].[layGiaKM]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[layGiaKM] (@maKM nvarchar(10), @maSP nvarchar(10))
AS
  SELECT GIAKM FROM CT_KHUYENMAI WHERE MAKM = @maKM AND MASP = @maSP;
GO
/****** Object:  StoredProcedure [dbo].[laySoLuong]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[laySoLuong] (@masp varchar(10))
AS
  SELECT SOLUONG FROM SANPHAM WHERE MASP = @masp;
GO
/****** Object:  StoredProcedure [dbo].[PHIEUNHAPLONHAT]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PHIEUNHAPLONHAT] AS
BEGIN
	IF ((SELECT COUNT(*) FROM PHIEUNHAP) = 0)
		SELECT  'PN0001' MAPHIEUNHAP
	ELSE
		SELECT TOP 1 MAPHIEUNHAP FROM PHIEUNHAP ORDER BY MAPHIEUNHAP DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sinhma_madmlonnhat]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sinhma_madmlonnhat]
AS
  SELECT TOP 1 MALOAI 
  FROM LOAISP 
  ORDER BY MALOAI DESC;
GO
/****** Object:  StoredProcedure [dbo].[sinhma_makhlonnhat]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sinhma_makhlonnhat]
AS
  SELECT TOP 1 MAKH 
  FROM KHACHHANG 
  ORDER BY MAKH DESC;
GO
/****** Object:  StoredProcedure [dbo].[sinhma_makmlonnhat]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sinhma_makmlonnhat] AS
BEGIN
	IF ((SELECT COUNT(*) FROM KHUYENMAI) = 0)
		SELECT  'KM001' MAHD
	ELSE
		SELECT TOP 1 MAKM FROM KHUYENMAI ORDER BY MAKM DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sinhma_mancclonnhat]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sinhma_mancclonnhat](@mach nvarchar(15))
AS
  SELECT TOP 1 mancc 
  FROM NHACUNGCAP where MACH = @mach
  ORDER BY mancc DESC
GO
/****** Object:  StoredProcedure [dbo].[sinhma_manvlonnhat]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sinhma_manvlonnhat]
AS
  SELECT TOP 1 manv 
  FROM NHANVIEN 
  ORDER BY manv DESC;
GO
/****** Object:  StoredProcedure [dbo].[sinhma_masplonnhat]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sinhma_masplonnhat]
AS
  SELECT TOP 1 masp 
  FROM SANPHAM 
  ORDER BY masp DESC;
GO
/****** Object:  StoredProcedure [dbo].[timKiemDanhMuc]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timKiemDanhMuc] (@giatri nvarchar(100))
as
	select * from LOAISP where 
	(MALOAI like N'%' + @giatri + '%' )
	or (TENLOAI like N'%' + @giatri + '%')
	or (MACH like N'%' + @giatri + '%')
GO
/****** Object:  StoredProcedure [dbo].[timkiemHoaDon]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timkiemHoaDon] (@giatri nvarchar(100))
AS
    SELECT DISTINCT HOADON.MAHD, HOADON.MANV, HOADON.MAKH, HOADON.NGAYLAP, CT_HOADON.MASP, CT_HOADON.SOLUONG, CT_HOADON.GIABAN 
    FROM HOADON
    INNER JOIN CT_HOADON ON HOADON.MAHD = CT_HOADON.MAHD
    WHERE (CT_HOADON.MASP LIKE N'%' + @giatri + '%')
        OR (HOADON.MAHD LIKE N'%' + @giatri + '%')
        OR (HOADON.MANV LIKE N'%' + @giatri + '%')
        OR (HOADON.MAKH LIKE N'%' + @giatri + '%')
        OR (CT_HOADON.GIABAN LIKE N'%' + @giatri + '%')
        OR (CT_HOADON.SOLUONG LIKE N'%' + @giatri + '%')
        OR (HOADON.NGAYLAP LIKE N'%' + @giatri + '%')
GO
/****** Object:  StoredProcedure [dbo].[timKiemKhachHang]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timKiemKhachHang] (@giatri nvarchar(100))
as
	select * from KHACHHANG where 
	(MAKH like N'%' + @giatri + '%' )
	or (TENKH like N'%' + @giatri + '%')
	or (DIACHI like N'%' + @giatri + '%')
	or (SDT like N'%' + @giatri + '%')
	or (EMAIL like N'%' + @giatri + '%')
GO
/****** Object:  StoredProcedure [dbo].[timKiemKhuyenMai]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timKiemKhuyenMai] (@giatri nvarchar(100))
as
    select KM. *,CTKM.*
    FROM KHUYENMAI KM, CT_KHUYENMAI CTKM
    WHERE KM.MAKM = CTKM.MAKM
    AND (KM.MAKM = @giatri)
    OR (KM.TENKM like N'%' + @giatri + '%')
    OR (CTKM.MASP = @giatri)
    AND KM.TRANGTHAI = 0 AND CTKM.TRANGTHAI = 0
GO
/****** Object:  StoredProcedure [dbo].[timKiemNCC]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timKiemNCC] (@giatri nvarchar(100))
as
	select * from NHACUNGCAP where 
	(MANCC like N'%' + @giatri + '%' )
	or (TENNCC like N'%' + @giatri + '%')
	or (DIACHI like N'%' + @giatri + '%')
	or (SDT like N'%' + @giatri + '%')
	or (EMAIL like N'%' + @giatri + '%')
	or (MACH like N'%' + @giatri + '%')
	or (MALOAI like N'%' + @giatri + '%')
GO
/****** Object:  StoredProcedure [dbo].[timKiemNhanVien]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timKiemNhanVien] (@giatri nvarchar(100))
as
	select * from NHANVIEN where 
	(MANV like N'%' + @giatri + '%' )
	or (TENNV like N'%' + @giatri + '%')
	or (TENTAIKHOAN like N'%' + @giatri + '%')
	or (SDT like N'%' + @giatri + '%')
	or (EMAIL like N'%' + @giatri + '%')
GO
/****** Object:  StoredProcedure [dbo].[timkiemPhieuNhap]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timkiemPhieuNhap] (@giatri nvarchar(100))
AS
    SELECT DISTINCT PHIEUNHAP.MAPHIEUNHAP, PHIEUNHAP.MANV, PHIEUNHAP.MANCC, PHIEUNHAP.NGAYNHAP, CT_PHIEUNHAP.SOLUONGNHAP, CT_PHIEUNHAP.DONGIANHAP,CT_PHIEUNHAP.MASP 
    FROM PHIEUNHAP
    INNER JOIN CT_PHIEUNHAP ON PHIEUNHAP.MAPHIEUNHAP = CT_PHIEUNHAP.MAPHIEUNHAP
    WHERE (CT_PHIEUNHAP.MASP LIKE N'%' + @giatri + '%')
        OR (PHIEUNHAP.MAPHIEUNHAP LIKE N'%' + @giatri + '%')
        OR (PHIEUNHAP.MANV LIKE N'%' + @giatri + '%')
        OR (PHIEUNHAP.MANCC LIKE N'%' + @giatri + '%')
        OR (CT_PHIEUNHAP.DONGIANHAP LIKE N'%' + @giatri + '%')
        OR (CT_PHIEUNHAP.SOLUONGNHAP LIKE N'%' + @giatri + '%')
        OR (PHIEUNHAP.NGAYNHAP LIKE N'%' + @giatri + '%')
GO
/****** Object:  StoredProcedure [dbo].[timKiemSanPham]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[timKiemSanPham] (@giatri nvarchar(100))
AS
BEGIN
    SELECT * FROM SANPHAM WHERE 
    (MASP like N'%' + @giatri + '%' )
    or (TENSP like N'%' + @giatri + '%')
    or (MAUSAC like N'%' + @giatri + '%')
    or (CHATLIEU like N'%' + @giatri + '%')
END;
GO
/****** Object:  StoredProcedure [dbo].[update_DanhMuc]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[update_DanhMuc](@maloai varchar(10),@tenloai nvarchar(50),@mach varchar(10))
as 
	UPDATE LOAISP
	SET TENLOAI = @tenloai
	WHERE maloai = @maloai
GO
/****** Object:  StoredProcedure [dbo].[update_HoaDon]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_HoaDon]
    @maHD VARCHAR(50),
    @maNV VARCHAR(10),
    @maKH VARCHAR(10),
    @ngayLap DATETIME,
	@thanhtien MONEY,
    @maSP VARCHAR(10),
    @soLuong INT,
    @giaBan DECIMAL(18, 0)
AS
BEGIN
    UPDATE CT_HOADON
    SET SOLUONG = @soLuong, GIABAN = @giaBan
    WHERE MAHD = @maHD AND MASP = @maSP;

    UPDATE HOADON
    SET MANV = @maNV, MAKH = @maKH, NGAYLAP = @ngayLap, THANHTIEN = @thanhtien
    WHERE MAHD = @maHD;
    
END;
GO
/****** Object:  StoredProcedure [dbo].[update_KhachHang]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[update_KhachHang](@maKH varchar(10),@tenKH nvarchar(50),@diachi nvarchar(50), @sdt nvarchar(50),@email nvarchar(50))
as 
	UPDATE KHACHHANG
	SET TENKH = @tenKH, DIACHI = @diachi,SDT = @sdt
	WHERE MAKH = @maKH
GO
/****** Object:  StoredProcedure [dbo].[update_KhuyenMai]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_KhuyenMai]
    @maKM VARCHAR(10),
    @tenKM NVARCHAR(50),
    @ptkhuyenmai FLOAT,
    @ngayBD DATE,
    @ngayKT DATE,
    @maSP VARCHAR(10),
    @giaKM DECIMAL(18, 0),
    @soLuongKM INT
AS
BEGIN
    UPDATE KHUYENMAI
    SET TENKM = @tenKM, PHANTRAMKM = @ptkhuyenmai, NGAYBATDAU = @ngayBD, NGAYKETHUC = @ngayKT
    WHERE MAKM = @maKM;

    UPDATE CT_KHUYENMAI
    SET GIAKM = @giaKM, SOLUONGKM = @soLuongKM
    WHERE MAKM = @maKM AND MASP = @maSP;
END;
GO
/****** Object:  StoredProcedure [dbo].[update_NHACUNGCAP]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[update_NHACUNGCAP](@maNCC varchar(10),@tenNCC nvarchar(50),@diachi nvarchar(50), @sdt nvarchar(50),@email nvarchar(50),@mach varchar(10),@maloai varchar(10))
as 
	UPDATE NHACUNGCAP
	SET TENNCC = @tenNCC, DIACHI = @diachi,SDT = @sdt
	WHERE MANCC = @maNCC
GO
/****** Object:  StoredProcedure [dbo].[update_NhanVien]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_NhanVien] (
    @MaNV NVARCHAR(MAX),
    @TenNV NVARCHAR(MAX),
    @TenTK NVARCHAR(MAX),
    @ChucVu NVARCHAR(MAX),
    @SDT NVARCHAR(MAX),
    @Email NVARCHAR(MAX),
    @MatKhau NVARCHAR(MAX),
    @HinhAnh NVARCHAR(MAX)
) AS
BEGIN
    UPDATE NHANVIEN
    SET 
        TenNV = @TenNV,
        TENTAIKHOAN = @TenTK,
        ChucVu = @ChucVu,
        SDT = @SDT,
        Email = @Email,
        MatKhau = @MatKhau,
        HinhAnh = @HinhAnh
    WHERE 
        MaNV = @MaNV;
END;
GO
/****** Object:  StoredProcedure [dbo].[update_SanPham]    Script Date: 6/6/2024 10:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_SanPham]
    @maSP VARCHAR(10),
    @tenSP NVARCHAR(50),
    @kichThuoc VARCHAR(50),
    @mauSac NVARCHAR(50),
    @chatLieu NVARCHAR(100),
    @hinhAnh VARCHAR(200),
	@soluong INT,
    @giaBan DECIMAL(18, 0),
    @giaBanSi DECIMAL(18, 0),
    @mancc VARCHAR(10),
    @maloai VARCHAR(10)
AS
BEGIN
    UPDATE SANPHAM
    SET 
        TENSP = @tenSP,
        KICHTHUOC = @kichThuoc,
        MAUSAC = @mauSac,
        CHATLIEU = @chatLieu,
        HINHANH = @hinhAnh,
		SOLUONG = @soluong,
        GIABAN = @giaBan,
        GIABANSI = @giaBanSi,
        MANCC = @mancc,
        MALOAI = @maloai
    WHERE 
        MASP = @maSP;
END;
GO
